*.iml
*.jks
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.jks
/app/alpha/app-alpha.aab
/app/alpha/app-alpha.apk
/app/beta/app-beta.apk
/app/beta/app-beta.aab
/app/release/app-release.aab
/app/release/app-release.apk
